/* Styling for whole body */
*{
    box-sizing: border-box;
    margin:0px;
    font-family: Arial;  
}

.container{
    margin-left:13%;
    margin-right:10%;
}
/* Header styling*/
header{
    background: rgba(242, 242, 242, 0.591);
    padding:3.5%;
    margin:0px;
    font-size:1.5em;
}
header h1{
    font-size: 2em;
}
header p{
    padding-top:1%;
}
/* Navigation styling */
nav ul{
    list-style: none;
    text-align: center;
    float: left;
    padding-top:1.5%;
    padding-bottom:1.5%;
}
nav li{
    display: inline-block;
    height:40px;
    line-height: 40px;
    font-size: 1.2em;
    margin-right:40px;
}
nav li a {
    text-decoration: none;
    display: block;
    color:black;
}
nav li a:hover{
    color:#818181;
}
.about a{
    color:#818181;
}

/* Main display image */
img{
    width:100%;
    height:600px;
}
/* Conent holder styling*/
aside{
    width:40%;
    padding-right:10%;
    padding-top:5%;

}
main,#gallery-container{
    width:60%;
    padding-top:5%;
    padding-right:5%;
    font-size: 1.2em;
}
main h2,#gallery-container h2{
    padding-bottom:2%;
}
aside,main,#gallery-container{
    float:left;
}
aside h3{
    padding-bottom: 7%;
}
p{
    color: #818181;
}
h2{
    color:#000;
}
/* Gallery icons styling*/
#gallery{
    padding-bottom:10%;
}
#gallery img{
    width:24%;
    height:10%;
    padding:5%;
}
/* Footer styling*/
footer{
    background: rgba(39, 28, 138, 0.851);
    display:flex;
    flex-wrap: wrap;
    clear:both;
    height:100%;
    padding-left:10%;
    padding-right:5%;
    font-size:1.2em;

}
footer h3{
    padding-bottom:8%;
}
footer a{
    text-decoration: none;
    color:white;
}
/* Footer sections styling*/
section{
    width:25%;
    color:white;
    padding:4%;
    list-style: none;
    line-height:30px;
    letter-spacing:1px;

}
section p{
    color:white;
}

hr{
    border-color:rgba(242, 242, 242, 0.303);
}
/* google maps api styling*/
#map {
    height: 200px;
    width: 100%;
   }

   /* Media quiries for mmobile phone displays*/
   @media screen and (max-width:1000px){
       aside,main,#gallery-container{
           width:100%;
       }
       h2{
           font-size:1em;
       }
       #gallery img{
           width:48%;
       }
       section{
           width:100%;
       }
       nav{
           width:0%;
           font-size:1.5em;
       }
       nav li{
           width:100%;
       }
        header{
            text-align: center;

        }   
        section{
            padding-right:40%;
            font-size:1.3em;
        }
}
/* Media queries for desktops */
@media screen and (min-width:650px){
aside,main,#gallery-container{
    text-align: justify;
}
}